@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Navbar */
.headlogo {
  width: 10vw;
}

.headstyle {
  @apply flex items-center text-white p-4 md:p-0 border border-gray-100 rounded-lg  
                          md:flex-row md:space-x-8 md:mt-0 md:border-0  
                          dark:border-gray-700;
  font-size: 1.2vw;
  color: #ffffff;
}

.head_div {
  height: 6vw;
}

/* portfolio */

.Example_grid {
  @apply grid gap-x-10 gap-y-6 sm:grid-cols-2 md:gap-x-20 lg:grid-cols-2 xl:grid-cols-2;
  width: 100%;
}

/* contact */

.contact_h2 {
  font-size: 2vw;
  font-weight: bold;
  color: #2f4f4f;
}

.contact_align {
  @apply mx-auto flex flex-col;
  width: 80%;
}

.contact_form {
  @apply mb-6 grid grid-cols-3;
}

.contact_label {
  @apply text-right mt-1 px-4 text-lg font-medium;
}

.contact_input {
  @apply border border-black pl-1 py-0;
}

.contact_line_img {
  width: 14vw;
}
